<h1>Rescue Mission</h1>


<div>
  <h4><%= @question.title%></h4>

  <p>
    <%= @question.description%>
  </p>
  <%= link_to "Edit this Question", edit_question_path(@question) %>
</div>

<div>
  <h4>Answers</h4>
  <%= render "form_answers" %>
</div>

<div>
  <ul>
    <% @answers.list.each do |a| %>
    <li><%= a.description %></li>
    </br>
    <%end%>
  </ul>
</div>

<div>
  <%= link_to "Back to Questions Index", root_path %>
</div>
