<h1>Rescue Mission</h1>


<div>
  <h4><%= @question.title%></h4>

  <p>
    <%= @question.description%>
  </p>
  <%= link_to "Edit this Question", edit_question_path(@question) %>
  <%= link_to "Murder this Question", @question, method: :delete %>
</div>

<div>
  <h4>Answers</h4>
  <%= render "form_answers" %>

  <p style= "color: red;">
    <% if @error %>
      <% @error.messages.each do |part, error| %>
        <%= "The #{part} #{error[0]}"%>
      <%end%>
    <%end%>
    </p>
</div>

<div>
  <ul>
    <% @answers.list.each do |a| %>
    <li><%= a.description %></li>
    </br>
    <%end%>
  </ul>
</div>

<div>
  <%= link_to "Back to Questions Index", root_path %>
</div>
